<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="monthlyCheckMapper">
	<select id="getYearTargetUser" resultType="com.ksinfo.batch.vo.UserDto">
		SELECT 
			em.emp_id, 
			em.emp_name, 
			em.emp_comp_mail, 
			em.hired_date
		FROM 
			emp_mgt as em
		WHERE 
            EXTRACT(MONTH FROM em.hired_date) = EXTRACT(MONTH FROM CURRENT_DATE)
		AND
			em.logical_del_flg = false
		AND
			em.resign_flg = false
		AND
			em.partner_comp_flg = false
		ORDER BY
			em.emp_id
	</select>

	<select id="getConductTargetUser" resultType="com.ksinfo.batch.vo.UserDto">
		SELECT 
			em.emp_id, 
			em.emp_name, 
			em.emp_comp_mail
		FROM 
			emp_mgt as em
        LEFT JOIN
            conduct_mgt AS cm
        ON 
			em.emp_id = cm.emp_id
		WHERE
			cm.work_year_month &gt;= DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '1 month'
			AND cm.work_year_month &lt;  DATE_TRUNC('month', CURRENT_DATE)
		AND
			(TRIM(cm.field_code) = '1' OR cm.field_code IS NULL)
		AND
			em.logical_del_flg = false
		AND
			em.resign_flg = false
		AND
			em.partner_comp_flg = false
        AND
            cm.comp_flg = false
        AND
            cm.logical_del_flg = false
		ORDER BY
			em.emp_id
	</select>

	<insert id="insertMailMgt" parameterType="com.ksinfo.batch.vo.UserDto">
	 	INSERT INTO mail_mgt(
		 	mail_idx,
			emp_id,
		 	issue_from_date,
			job_id,
			create_id,
			update_id
	 	)
	 	VALUES
		<foreach collection="list" item="user" separator=",">
			(
				nextval('mail_id_seq'),
				#{user.empId},
				CURRENT_DATE,
				'KSBAT_PT002',
				#{user.empId},
				#{user.empId}
			)
		</foreach>
	</insert>
	
	<select id="getInsertedMailMgt" parameterType="int" resultType="com.ksinfo.batch.vo.MailDto">
		SELECT
			mail_idx,
			emp_id,
			issue_from_date
		FROM
			mail_mgt
		WHERE
			job_id = 'KSBAT_PT002'
		ORDER BY
			mail_idx
		LIMIT 
			#{insertCount}
	</select>
	
	<insert id="insertMailRecipient" parameterType="com.ksinfo.batch.vo.MailRecipientDto">
		INSERT INTO mail_recipient_mgt(
			mail_idx,
			recipient_emp,
			recipient_type
		)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
				#{item.mailIdx},
				#{item.recipientEmp},
				#{item.recipientType}
			)
		</foreach>
	</insert>

	<insert id="insertMailIssue" parameterType="com.ksinfo.batch.vo.MailIssueDto">
		INSERT INTO mail_issue_mgt(
			mail_idx,
			issue_date
		)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
				#{item.mailIdx},
				#{item.issueDate}
			)
		</foreach>
	</insert>

	<insert id="insertMailContents" parameterType="com.ksinfo.batch.vo.MailContentsDto">
		INSERT INTO mail_contents_mgt(
			mail_idx,
			sender,
			subject,
			content
		)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
				#{item.mailIdx},
				#{item.sender},
				#{item.subject},
				#{item.content}
			)
		</foreach>
	</insert>
</mapper>