<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="regularPassCheckTaskletMapper">
	<select id="getUser" resultType="com.ksinfo.batch.vo.UserDto">
		SELECT DISTINCT
			em.emp_id, 
			em.emp_name, 
			em.emp_comp_mail
		FROM 
			emp_mgt as em
		WHERE
			em.vehicle_fix_flg = false
		AND
			em.logical_del_flg = false
		AND
			em.resign_flg = false
		AND
			em.partner_comp_flg = false
		ORDER BY em.emp_id
	</select>

	<select id="getNonTargetUserId" resultType="string">
		SELECT DISTINCT
			em.emp_id
		FROM 
			emp_mgt as em
        LEFT JOIN
            vihicle_mgt AS vm
            ON em.emp_id = vm.emp_id
		WHERE
			vm.request_date &gt;= CURRENT_DATE - INTERVAL '1 month'
			AND vm.request_date &lt; CURRENT_DATE
        AND
			em.vehicle_fix_flg = false
		AND
			em.logical_del_flg = false
		AND
			em.resign_flg = false
		AND
			em.partner_comp_flg = false
        AND
            vm.logical_del_flg = false
	</select>

	<insert id="insertMailMgt" parameterType="com.ksinfo.batch.vo.UserDto">
	 	INSERT INTO mail_mgt(
		 	mail_idx,
			emp_id,
		 	issue_from_date,
			job_id,
			create_id,
			update_id
	 	)
	 	VALUES
		<foreach collection="list" item="user" separator=",">
    		(
				nextval('mail_id_seq'),
				#{user.empId},
				CURRENT_DATE,
				'KSBAT_PT003',
				#{user.empId},
				#{user.empId}
			)
  		</foreach>
	</insert>
</mapper>